@use "shared";
@use "sass:color";

#page--fact_check_insights--highlights {
	background-color: white;

	.intro {
		margin: 5vw auto;
		text-align: center;
		max-width: 60ch;
	}

	.dataviz {
		margin: 5vw 0;
		display: flex;
		flex-direction: column;
		gap: 5vw;

		@media screen and (min-width: shared.$screen-xl-floor) {
			flex-direction: row;

			&.dataviz--reversed {
				flex-direction: row-reverse;
			}
		}

		.dataviz__caption {
			flex-basis: 25%;
			font-size: calc(shared.$font-size--base * 1.25);
		}

		.dataviz__visual-wrapper {
			flex-basis: 75%;
		}

		.dataviz__visual {
			aspect-ratio: 4/3;
			width: 100%;
		}

	}

	.download-cta {
		padding-top: 5vw;
		padding-bottom: 5vw;
		transition-property: padding;

		@media screen and (min-width: shared.$screen-lg-floor) {
			padding-top: 10vw;
			padding-bottom: 10vw;
			background-image: url("brand-ornaments/01.svg"), url("brand-ornaments/02.svg");
			background-position: -15% 80%, 105% 20%;
			background-size: clamp(20%, 35%, 50%) auto, clamp(20%, 30%, 50%) auto;
			background-repeat: no-repeat;

			.download-cta__inner {
				max-width: 45em;
				margin-left: auto;
				margin-right: auto;
				padding: 1rem;
			}
		}
	}
}
