The post you requested below has unfortunately been removed before we could archive it.

URL Requested:
<%= @url %>

If you can still see the post online at its original URL, please email us at <a href="mailto:hello@factcheckinsights.org">hello@factcheckinsights.org</a> to report this error.
Please include the URL and the ID #<%= @scrape_id %> in your email and we will look into the problem as soon as possible.

<%= "https://#{Figaro.env.MEDIA_VAULT_HOST}/myvault" %>

Thanks,

The Duke Reporters’ Lab Team
