<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>Your requested scrape below has had an error during archiveing.</p>
		<div>
			<h5>URL Archived</h5>
			<%= @url %>
		</div>

		<p>If you can still see the post online at its original URL please email us at <a href="mailto:hello@factcheckinsights.org">hello@factcheckinsights.org</a> to report this error. Please include the url and the ID #<%= @scrape_id %> in your email and we will look into the problem as soon as possible.</p>

		<div>
			<%= link_to 'View your MyVault', media_vault_personal_dashboard_url, class: 'button' %>
		</div>

		<p>Thanks,</p>
		<p>The Duke Reporters’ Lab Team</p>
	</body>
</html>
