<div data-controller="webauthn-login" class="mb-5">
  <div data-webauthn-login-target="error"></div>

  Enter the six digit code from your authenticator app below
  <div class="flex flex-col lg:basis-1/2 items-center mt-8">
  <div class="basis-1/2">
    <input type="text" data-webauthn-login-target="totpCode">
  </div>
  <div class="basis-1/2 mt-4">
    <button
      data-action="click->webauthn-login#authenticateTotp"
      data-webauthn-login-target="authenicateButton"
      class="btn btn--lg">
      Click Here To Authenticate With Your Authentication App
    </button>
  </div>
</div>

