<div data-controller="webauthn-login" class="mb-5">
  <div data-webauthn-login-target="error"></div>

  <%= t("2fa.enter_the_six_digit_code") %>
  <div class="flex flex-col lg:basis-1/2 items-center mt-8">
  <div class="basis-1/2">
    <input type="text" data-webauthn-login-target="totpCode">
  </div>
  <div class="basis-1/2 mt-4">
    <button
      data-action="click->webauthn-login#authenticateTotp"
      data-webauthn-login-target="authenicateButton"
      class="btn btn--lg">
      <%= t("2fa.click_here_to_authenticate_app") %>
    </button>
  </div>
</div>
