<div data-controller="webauthn-login" class="mb-5">
  <div data-webauthn-login-target="lock" class="setup_mfa--lock"></div>
  <button
    data-action="click->webauthn-login#authenticateWebauthn"
    data-webauthn-login-target="authenicateButton"
    class="btn btn--lg">
    Click Here To Authenticate With Your Webauthn Key
  </button>
</div>
