<div class="alert alert--error opacity-0" role="alert">
  <div class="alert__message flex flex-col">
    <div class="font-bold text-lg">
      Error:
    </div>
    <div>
      <%= t("2fa.validation_error") %>
    </div>
    <div>
      <br><%= t("2fa.if_this_continues") %>
    </div>

    <% if defined?(error) && !error.nil? %>
    <br><hr><br>
    <div class="font-bold text-lg">
      <%= t("2fa.error_message") %>
    </div>
    <div>
      <%= error %>
    </div>
    <% end %>
  </div>
</div>
