<div data-controller="webauthn-login" class="mb-5">
  <div data-webauthn-login-target="lock" class="setup_mfa--lock"></div>
  <button
    data-action="click->webauthn-login#authenticateWebauthn"
    data-webauthn-login-target="authenicateButton"
    class="btn btn--lg">
    <%= t("2fa.click_here_to_authenticate") %>
  </button>
</div>
