<% @title_tag = "Log in" %>

<div class="box box--sm box--miniform">
  <!-- TODO: customize depending on the insights/vault split -->
  <p>
    To continue your log in, authenticate with a previously registered two factor authentication key.
  </p>
  <div data-controller="webauthn-login" class="mb-5">
    <div data-webauthn-login-target="lock" class="setup_mfa--lock"></div>
    <button
      data-action="click->webauthn-login#authenticateWebauthn"
      data-webauthn-login-target="authenicateButton"
      class="btn btn--lg">
      Click Here To Authenticate
    </button>
  </div>
  <p>
    If you've lost your key or are on a different device, you can
    <%= link_to "use a backup code here", reset_password_path %>
  </p>
</div>
