<% @title_tag = "Admin" %>
<% @page_id = "dashboard" %>

<div class="content">
	<h1>Admin</h1>

	<ul>
		<li><%= link_to "Applicants", admin_applicants_path %></li>
		<li><%= link_to "Jobs Status", admin_jobs_status_root_path %></li>
		<li><%= link_to "Web Scrapes", admin_web_scrapes_path %></li>
	</ul>
</div>
