<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.messages.each do |message| %>
        <li>
          <div class="alert alert--alert">
            <div class="alert__message">
              <% # The message object is structured like [resource_name, [message_text]] %>
              <% # So we access the message text with message.last.last %>
              <%= message.last.last %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
