<% @title_tag = "Confirmation not found" %>

<div class="box box--lg box--message">
	<h1 class="box__title icon-prefixed">
		<svg class="icon icon--lg" style="color:var(--color--mood--error);"><use xlink:href="#svg-x-circle-outline"></use></svg>
		<span>Email confirmation could not be found.</span>
	</h1>
	<p>We cannot confirm your email address, either because the link you clicked does not have a valid confirmation token or because the address has already been confirmed.</p>
</div>
