<% @title_tag = "Confirmation not found" %>

<div class="box box--lg box--message">
	<h4 class="box__title icon-prefixed">
		<%= use_svg "x-circle-outline", svg_attrs: { class: "icon icon--lg color--danger" } %>
		<span>Email confirmation could not be found.</span>
	</h4>
	<p>We cannot confirm your email address, either because the link you clicked does not have a valid confirmation token or because the address has already been confirmed.</p>
</div>
