<% @title_tag = "Problem sending confirmation" %>

<div class="box box--lg box--message">
	<h1 class="box__title icon-prefixed">
		<svg class="icon icon--lg" style="color:var(--color--mood--error);"><use xlink:href="#svg-x-circle-outline"></use></svg>
		<span>Problem sending confirmation link.</span>
	</h1>
	<p>We attempted to send you a confirmation link to verify your email address, but encountered some sort of error. We’ve been notified and will look into it, and will contact you if necessary.</p>
	<p>For now, there’s nothing more for you to do.</p>
</div>
