<% @title_tag = "Email confirmed" %>

<div class="box box--lg box--message">
		<svg class="icon icon--lg" style="color:var(--color--mood--success);"><use xlink:href="#svg-check-circle-outline"></use></svg>
	<h4 class="box__title icon-prefixed">
		<span>Email address confirmed.</span>
	</h4>
	<p>Thanks for confirming your email address. Your request for access has been received, and we’ll be in touch.</p>
	<p><%= link_to "Return to home →", root_path, class: "btn btn--reversed" %></p>
</div>
