<% @title_tag = "Confirmation error" %>

<div class="box box--lg box--message">
		<svg class="icon icon--lg" style="color:var(--color--mood--error);"><use xlink:href="#svg-x-circle-outline"></use></svg>
	<h4 class="box__title icon-prefixed">
		<span>Email could not be confirmed.</span>
	</h4>
	<p>Sorry, we could not confirm your email address. Please try again, or <%= link_to "contact us", contact_path %> for more help.</p>
</div>
