<% @title_tag = t("request_access.email_confirmed.email_confirmed") %>

<div class="box box--lg box--message">
	<h4 class="box__title icon-prefixed">
		<%= use_svg "check-circle-outline", svg_attrs: { class: "icon icon--lg color--success" } %>
		<span><%= t("request_access.email_confirmed.email_address_confirmed") %></span>
	</h4>
	<p><%= t("request_access.email_confirmed.thanks_for_confirming") %></p>
	<p><%= link_to "#{t("request_access.email_confirmed.return_to_home")} →", root_path, class: "btn btn--reversed" %></p>
</div>
