<% @title_tag = "Confirmation error" %>

<div class="box box--lg box--message">
	<h1 class="box__title icon-prefixed">
		<svg class="icon icon--lg" style="color:var(--color--mood--error);"><use xlink:href="#svg-x-circle-outline"></use></svg>
		<span>Email could not be confirmed.</span>
	</h1>
	<p>Sorry, we could not confirm your email address. Please try again, or contact us for more help.</p>
</div>
