<% @title_tag = t('request_access.not_found.page_title') %>
<div class="box box--lg box--message">
  <h4 class="box__title icon-prefixed">
    <%= use_svg "x-circle-outline", svg_attrs: { class: "icon icon--lg color--danger" } %>
    <span><%= t('request_access.not_found.error_title') %></span>
  </h4>
  <p><%= t('request_access.not_found.error_message') %></p>
</div>
