<% @title_tag = "Confirmation error" %>

<div class="box box--lg box--message">
	<h4 class="box__title icon-prefixed">
		<%= use_svg "x-circle-outline", svg_attrs: { class: "icon icon--lg color--danger" } %>
		<span>Email could not be confirmed.</span>
	</h4>
	<p>Sorry, we could not confirm your email address. Please try again, or <%= link_to "contact us", contact_path %> for more help.</p>
</div>
