<% results.each do |result| %>
  <% if result.has_key?(:image) %>
    <% partial_name = "media_vault/image_search/search_result_list_item_#{result[:image].archivable_item.class.to_s.gsub("Sources::","").underscore}" %>
    <%= render partial: partial_name, locals: { result: result } %>
  <% elsif result.has_key?(:video) %>
    <% partial_name = "media_vault/image_search/search_result_list_item_#{result[:video].archivable_item.class.to_s.gsub("Sources::","").underscore}" %>
    <%= render partial: partial_name, locals: { result: result } %>
  <% end %>
<% end %>
<div data-controller="media-vault--image-search" id="search-id" data-search-id="<%= search.id %>" data-image-search-search-id="<%= search.id %>" ></div>
