<% @title_tag = "Guide to MediaVault" %>

<div class="full-bleed-headline">
	<div class="contain content">
		<h2>What is MediaVault?</h2>
	</div>
</div>
<div class="lg:flex lg:gap-20 lg:mb-0">
	<div class="content lg:basis-2/4 b2">
		<p class="b1">MediaVault is an unprecedented archive of images, videos and memes that have been analyzed by reputable fact-checking organizations from around the world.</p>
		<p>Our cutting-edge system scrapes and stores content from social media platforms and other sources that would otherwise disappear completely if it is deleted or removed. With MediaVault, fact-checkers can preserve the content that they have fact-checked in its original form. That content then becomes searchable, so other fact-checkers can easily determine if a given image or video has been fact-checked before.</p>
		<p>MediaVault provides long-term accessibility and durability for archiving, research and more rapid detection of misleading images and video.</p>
	</div>
	<div class="hidden lg:flex lg:place-items-center lg:place-content-center lg:basis-2/4 lg:p-20 bg--media-vault">
		<div class="masked-image masked-image--media-vault max-w-xs w-full">
			<%= image_tag "photos/cameras.jpg" %>
		</div>
	</div>
</div>

<div class="full-bleed-headline reversed">
	<div class="contain content">
		<h2>What descriptive data is included with MediaVault entries?</h2>
	</div>
</div>
<div class="content">
	<div class="lg:flex lg:gap-20 b2">
		<p class="lg:basis-2/4">MediaVault entries are collected when fact-checkers use a tagging system known as MediaReview that allows them to identify whether a video, image, or meme has been manipulated. Fact-checkers provide basic information — for example, the URL where the piece of media was found, and the URL of their fact-checking article — as well as an assessment of whether the media was manipulated. (For more on these assessments, see “How do fact-checkers assess MediaVault content?” below.)</p>
		<p class="lg:basis-2/4">Along with the MediaReview tagging data, most MediaVault entries also contain data from ClaimReview, a sibling to MediaReview used by fact-checkers to rate claims regardless of format. ClaimReview includes information about the statement being checked, the source of the claim, the location, the date, the conclusion the fact-checker reached about the statement’s veracity, and more.</p>
	</div>
	<p class="mt-10 text-center b1">For more information about ClaimReview and MediaReview, visit <%= link_to "The ClaimReview Project", "https://www.claimreviewproject.com/", class: "bg--blue" %>.</p>
</div>


<div class="full-bleed-headline reversed">
	<div class="contain content">
		<h2>How do fact-checkers assess MediaVault content?</h2>
	</div>
</div>
<div class="content">
	<p class="b2">Fact-checking organizations around the world all use their own systems for identifying and checking potential misinformation found online. But when they enter their fact-checks into MediaReview, they use a standardized ratings format for identifying whether an individual piece of media has been manipulated. Those ratings are:</p>
	<dl class="mt-20 grid grid-cols lg:grid-cols-3 lg:grid-rows-2 gap-10">
		<div>
			<dt class="h4">Original</dt>
			<dd>No evidence the image or video has been misleadingly altered or manipulated, though it may still contain false or misleading claims.</dd>
		</div>
		<div>
			<dt class="h4">Missing Context</dt>
			<dd>Presenting unaltered images or video in an inaccurate manner to mislead the viewer. For example, labeling with incorrect dates or locations. (An image or video rated “original” can also be missing context.)</dd>
		</div>
		<div>
			<dt class="h4">Cropped or Edited</dt>
			<dd>Presenting a part of an image from a larger whole, or editing or rearranging a video, to mislead the viewer.</dd>
		</div>
		<div>
			<dt class="h4">Transformed</dt>
			<dd>Adding or deleting visual elements to give an image a different meaning with the intention to mislead, or manipulating video footage in ways such as changing speed, dubbing audio or altering visual elements. This rating includes deepfake videos.</dd>
		</div>
		<div>
			<dt class="h4">Staged</dt>
			<dd>An image or video that was created using actors or similarly contrived.</dd>
		</div>
		<div>
			<dt class="h4">Satire/Parody</dt>
			<dd>An image or video that was created as political or humorous commentary and is presented in that context.</dd>
		</div>
	</dl>
</div>

<div class="full-bleed-headline reversed">
	<div class="contain content">
		<h2>What is MyVault?</h2>
	</div>
</div>
<div class="content">
	<p class="b2">MyVault is a new feature within MediaVault that allows you to privately archive images, videos, and memes even before you fact-check them. MyVault is currently in beta and we're rolling it out to small groups of users.</p>
	<dl class="mt-20 grid grid-cols lg:grid-cols-3 lg:grid-rows-2 gap-10">
		<div>
			<dt class="h4">How it Works</dt>
			<dd>Once logged in, navigate to either the “Dashboard” or “MyVault” page and click the “Save A Post” link in the upper right corner of the page. Then, copy and paste the link of the post you wish to archive and click the “Archive” button.</dd>
		</div>
		<div>
			<dt class="h4">What to Expect</dt>
			<dd>We archive posts in the order in which they arrive in our queue. Depending on the size of our queue, archiving your post may take some time, but we’ll send you an email as soon as it’s complete.</dd>
		</div>
		<div>
			<dt class="h4">Supported Platforms</dt>
			<dd>We currently support archiving posts from Facebook, Instagram, YouTube and TikTok. If you have additional needs, please <%= link_to "reach out to us.", "mailto:hello@factcheckinsights.org", class: "bg--blue" %> We may add additional platforms based on demand.</dd>
		</div>
		<div>
			<dt class="h4">Accessible Search</dt>
			<dd>You can easily search posts saved to your personal MyVault by navigating to the MyVault section of our website. Search works the same way as on our dashboard, either by text, image, or video.</dd>
		</div>
		<div>
			<dt class="h4">Important Reminder</dt>
			<dd>We still recommend you make MediaReview and ClaimReview after fact-checking the media you’ve saved. This will allow the post to be added to the searchable archive for all fact-checkers using MediaVault. You’ll also still need to create ClaimReview to be eligible for rich snippets on Google Search and other platform highlights.</dd>
		</div>
		<div>
			<dt class="h4">Coming Soon</dt>
			<dd>We’re working to add collaborative tools like sharing posts with others in your organization and adding notes to a piece of media you’ve saved. Look for these in a future update to MediaVault.</dd>
		</div>
	</dl>
</div>

<div class="full-bleed bg--media-vault">
	<div class="contain">
		<div class="content content--md">
			<h2>How do I exclude my data from MediaVault?</h2>
			<p class="b2"><%= render partial: "optout_instructions" %></p>
		</div>
	</div>
</div>
