<div>
	<%= render partial: "media_vault/authors/author_info/#{@platform[:author_source_model_name].underscore}", locals: { author: @author } %>
	<%= render partial: "media_vault/authors/author_archive" %>
</div>
