<div id="nav" class="h-full w-250px fixed left-0  overflow-x-hidden pt-60px z-1">
  <a class="block" href="#">Profile</a>
  <a class="block" href="#">App</a>
  <% if current_user.admin? %>
    <a class="block" href="#" onclick="document.getElementById('approvals').classList.toggle('invisible')">Approvals</a>
    <a class="block">API key</a>
  <%end %>
</div>
<% if current_user.admin? %>
  <h1>User approvals</h1>
  <table id="approvals" class="table-auto">
    <thead>
      <tr>
        <th class="border">Email</th>
        <th class="border">Request message</th>
        <th class="border">Action</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.where(approved: false).each do | user| %>
        <tr class="border text-gray-600 hover:text-black">
          <td><%= user.email %>, <%=user.approved %></td>
          <td>Please let me into the zenodotus demo</td>
          <td>
            <!-- re-render from controller on approve/deny? -->
            <%= button_to "approve", approve_request_path, params: {user: user}, class:"float-left bg-blue-400 hover:bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin" %>
            <%= button_to "deny",  deny_request_path, params: {user: user}, class:"float-left bg-red-400 hover:bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin"  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <br>
  <hr>
<% end %>
