<% if media.try(:image_url) %>
    <a href="<%= media.image_url %>" title="Click to view full-size version of media">
        <img class="archive-item__body-media__image" src="<%= media.image_url %>" width="100%" height="auto">
    </a>
<% elsif media.try(:video_url) %>
    <figure class="archive-item__body-media__video">
        <video
            width="100%"
            height="auto"
            poster="<%= media.video_derivatives[:preview].url %>"
            preload="none"
            controls
        >
            <source src="<%= media.video_url %>" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <% if media.try(:video_type) == "animated_gif" %>
            <figcaption class="archive-item__body-media__video-caption">
                GIF
            </figcaption>
        <% end %>
    </figure>
<% end %>
