<% @page_id = "dashboard" %>

<%= turbo_frame_tag "modal" %>

<div class="content">
	<%= turbo_frame_tag "archived_items", target: "_top", class: "archive-items archive-items--boxed-items archive-items--masonry" do %>
		<% render partial: "archive_items", locals: { archive_items: @archive_items } %>
	<% end %>

	<%= turbo_frame_tag "archived_items_pagination", target: "_top" do %>
		<%== pagy_nav(@pagy_archive_items) if @pagy_archive_items.pages > 1 %>
	<% end %>
</div>
