<% @page_id = "dashboard" %>

<%= turbo_frame_tag "modal" %>

<div class="content page--media_vault--dashboard">
	<h2>Recently-archived media:</h2>

	<% show = !@organization.nil? || !@from_date.nil? || !@to_date.nil? %>
	<%= render partial: "filter_form", locals: { show: show } %>

	<%= turbo_frame_tag "archived_items", target: "_top", class: "archive-items archive-items--boxed-items archive-items--masonry" do %>
		<% render partial: "archive_items", locals: { archive_items: @archive_items } %>
	<% end %>

	<%= turbo_frame_tag "archived_items_pagination", target: "_top" do %>
		<% render partial: "paginator" %>
	<% end %>
</div>
