<div class="archive-item archive-item--boxed">
  <div class="archive-item__inner">
    <div class="author__display-name">
      Tools:
    </div>
    <br />
    <div class="grid grid-cols-2 grid-flow-row gap-4">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="col-span-2 grid grid-cols-9 gap-x-2">
            <input type="text" class="col-span-8 text-slate-500" value="<%= @archive_item.public_link %>" readonly />
            <button type="submit" class="col-span-1 btn btn--orange">Copy</button>
        </div>
      <!-- <a href="#" class="btn btn--outline btn--lg">
        <span>Download</span>
      </a> -->
      <%= link_to "Delete From MyVault" , media_vault_medium_path(@archive_item), class: "btn btn--outline btn--reversed-subtle btn--lg", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
