<div class="archive-item archive-item--boxed">
  <div class="archive-item__inner">
    <div class="author__display-name">
      Tools:
    </div>
    <br />
    <div class="grid grid-cols-2 grid-flow-row gap-4">
        <label for="Public Link" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Public Link</label>
        <div class="archive-item__metadatum__label col-auto">Link for Public Use</div>
        <div data-controller="media-vault--archive" class="col-span-3 grid grid-cols-9 gap-x-2">
            <input type="text" data-media-vault--archive-target="postLink" class="md:col-span-7 col-span-6 text-slate-500" value="<%= @archive_item.public_link %>" readonly />
            <button
                type="submit" class="md:col-span-2 col-span-3 btn btn--orange"
                data-media-vault--archive-target="savePostButton"
                data-action="click->media-vault--archive#copyPostLink">Copy</button>
        </div>
      <% if @myvault %>
          <%= link_to "Delete From MyVault" , media_vault_medium_path(@archive_item), class: "btn btn--outline btn--reversed-subtle btn--lg", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>
