<% @page_id = "medium" %>
<% @title_tag = [
	@archive_item.normalized_attrs_for_views[:archive_item_caption].present? ? "“#{truncate(@archive_item.normalized_attrs_for_views[:archive_item_caption], length: 30)}”" : "(uncaptioned media)",
	@archive_item.normalized_attrs_for_views[:author_display_name],
] %>

<div class="content content--md content--center">
	<%= render partial: "media_vault/media/archive_item",
						 locals: { **@archive_item.normalized_attrs_for_views,
						 boxed: true } %>
	<br />
	<%= render partial: "media_vault/media/archive_item_metadata",
						 locals: { archive_item: @archive_item } unless @archive_item.media_review.nil? %>
</div>
