<% @title_tag = "Invalid token" %>

<div class="box box--lg box--message">
	<h1 class="box__title icon-prefixed">
		<svg class="icon icon--lg" style="color:var(--color--mood--error);"><use xlink:href="#svg-x-circle-outline"></use></svg>
		<span>Invalid token</span>
	</h1>
	<p>That token cannot be used to setup an account, either because it’s invalid or the account linked to it has already been setup. Please contact us if you need more help.</p>
</div>
