<div class="download-cta full-bleed <%= section_variant if defined?(section_variant) %>">
	<div class="contain">
		<div class="download-cta__inner bg-shield">
			<h2>Download the Fact-Check Insights dataset to uncover trends and track innovations around the world.</h2>
			<div class="btn-container">
				<!--
				<a href="#" class="btn btn--lg <%= button_variant if defined?(button_variant) %>">Download (currently disabled)</a>
				<%# link_to "Download", fact_check_insights_download_path, class: "btn btn--lg #{button_variant if defined?(button_variant)}" %>
				-->
				<%= link_to "Request Access", new_applicant_path, class: "btn btn--lg #{button_variant if defined?(button_variant)}" %>
			</div>
		</div>
	</div>
</div>
