<% @title_tag = "Highlights" %>

<div class="mx-auto text-center max-w-lg py-10 lg:py-20">
	<h1>Highlights</h1>
	<p class="b1">To give you a sense of what researchers can do with the Fact-Check Insights dataset, here are a few key findings based on the data.</p>
</div>

<%= render partial: "download_cta", locals: {
	button_variant: "btn--orange",
} %>
