<% @title_tag = "Opt Out" %>

<div class="content content--md">
	<h1>Opt Out</h1>
	<p class="b1">If you’d like for us to remove your organization’s data from the dataset, please email <%= mail_to "hello@factcheckinsights.org", subject: "Remove organization from Fact-Check Insights data" %> and let us know.</p>
</div>
