<div class="w-full flex items-center justify-center">
  <div class="z-10">
    <div id="login-card" class="px-5 text-center bg-gray-400 rounded-lg shadow-md w-full flex flex-col justify-center items-center space-y-4">
      <div
        class="relative w-20 bg-pink-200 mx-auto rounded-full p-3 shadow-md"
        style="top: -2.5rem;"
      >
        <%= image_tag "icon.svg" %>
      </div>
      <div class="text-3xl font-bold text-pink-200">
        Zenodotus
      </div>
      <form class="h-40 w-full flex flex-col justify-center items-center space-y-4">
        <input type="text" name="email" placeholder="Email Address" class="rounded-lg focus:outline-none focus:ring-4 focus:ring-green-300 focus:ring-opacity-50 py-1.5 px-2 text-gray-800 placeholder-gray-400 shadow-md" autocapitalize="off"/>
        <input type="password" name="password" placeholder="Password" class="rounded-lg  focus:outline-none focus:ring-4 focus:ring-green-300 focus:ring-opacity-50 py-1.5 px-2 text-gray-800 placeholder-gray-400 shadow-md" />
        <button name="log in" class="rounded-lg focus:outline-none focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 py-1.5 px-2 bg-green-500 hover:bg-green-400 text-gray-50 shadow-md">Log In</button>
      </form>
    </div>
  </div>
</div>
