/*
Alerts

Semantically-themed dismissable message boxes for alerting users to changes. In the Rails context,
mostly used for flashes.

- Apply the `data-controller` attribute and close button to gain Stimulus-powered dismissability.
- Message can be content directly, or an unordered list of elements.

Semantic variants:

- `alert--success`: Something good happened.
- `alert--info`/`alert--notice`: Something happened, FYI.
- `alert--alert`: Something a little worrisome or unexpected happened.
- `alert--error`: Something bad happened.

```html
<div class="alert alert--{variant}" role="alert" data-controller="flash-box">
	<div class="alert__message">
		…
	</div>
	<button class="alert__close-button" aria-label="Close" data-action="flash-box#closeBox" type="button">
		<svg class="icon"><use xlink:href="#svg-x"></use></svg>
	</button>
</div>
```
*/
@use "shared";

.alert {
	--alert--color: black;
	--alert--background-color: lightgray;
	--alert--focus-background-color: gray;
	--alert--border-radius: 6px;
	--alert--external-spacing: 1rem;
	--alert--internal-spacing: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: calc(var(--alert--internal-spacing) / 2);
	margin: var(--alert--external-spacing) 0;
	border-radius: var(--alert--border-radius);

	color: var(--alert--color);
	background-color: var(--alert--background-color);
	font-family: shared.$font-family--sans-serif;

	.alert__message {
		padding: calc(var(--alert--internal-spacing) / 2);

		ul {
			list-style-type: disc;
			margin-left: var(--alert--internal-spacing);
		}

		a {
			color: inherit;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.alert__close-button {
		color: inherit;
		padding: calc(var(--alert--internal-spacing) / 2);
		border-radius: calc(var(--alert--border-radius) / 2);

		.icon {
			height: calc(1em * shared.$line-height--base);
			width: calc(1em * shared.$line-height--base);
		}

		&:hover,
		&:focus {
			background-color: var(--alert--focus-background-color);
		}
	}

	&.alert--success {
		--alert--color: #{shared.$color--green-2};
		--alert--background-color: #{shared.$color--green-9};
		--alert--focus-background-color: #{shared.$color--green-7};
	}

	&.alert--info,
	&.alert--notice {
		--alert--color: #{shared.$color--blue-2};
		--alert--background-color: #{shared.$color--blue-9};
		--alert--focus-background-color: #{shared.$color--blue-7};
	}

	&.alert--alert {
		--alert--color: #{shared.$color--orange-2};
		--alert--background-color: #{shared.$color--orange-10};
		--alert--focus-background-color: #{shared.$color--orange-8};
	}

	&.alert--error,
	&.alert--alert {
		--alert--color: #{shared.$color--mood--error--contrast};
		--alert--background-color: #{shared.$color--mood--error};
		--alert--focus-background-color: #{shared.$color--mood--error--hover};
	}

}
