/*
Author Archives

Minimal wrapper around ArchiveItems for archives of a specific author's items.

Doesn't include the author's profile info, which is assumed to be separate / a sibling.

```html
<div class="author-archive">
	<div class="author-archive__header">
		<h2 class="author-archive__header">
			<span class="author-archive__title__archive-size">…</span>
			…
		</h2>
		<div class="author-archive__actions">
			<a class="btn">…</a>
		</div>
	</div>
	<div class="archive-items">
		// See ArchiveItems.
	</div>
</div>
```
*/
@use "shared";

.author-archive {
	--author-archive--external-spacing: 5rem;

	margin: var(--author-archive--external-spacing) 0;
}

.author-archive__header {
	--author-archive--header-external-spacing: 3rem;
	--author-archive--header-internal-spacing: 2rem;

	margin: var(--author-archive--header-external-spacing) 0;
	display: flex;
	align-items: center;
	gap: var(--author-archive--header-internal-spacing);
}

.author-archive__title {
	font-size: 1.5rem;
	font-weight: shared.$font-weight--light;
}

.author-archive__title__archive-size {
	font-weight: shared.$font-weight--bold;
}

.author-archive__actions {
	font-size: 0.8rem;
}
