.author {
	--author--external-spacing: 5rem;
	--author--internal-spacing: 1rem;
	--author--profile-image-gap: 2rem;
	--author--profile-image-size: 10rem;
	--author--name-font-size: 2rem;

	margin: var(--author--external-spacing) 0;
	display: flex;
	align-items: center;
	gap: var(--author--profile-image-gap);
}

a.author {
	text-decoration: none;
}

a.author:hover .author__display-name,
a.author:hover .author__username {
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.author__image {
	@apply rounded-full;
	align-self: flex-start;
	aspect-ratio: 1 / 1;
	width: var(--author--profile-image-size);
	height: 100%;
}

.author__name {
	font-size: var(--author--name-font-size);
	line-height: 1.2;
}

.author__display-name {
	font-weight: var(--font-weight-semibold);
}

.author__username {
	font-weight: var(--font-weight-light);
}

.author__metadata {
	font-weight: var(--font-weight-light);
	font-size: 0.9rem;
}

.author__description {
	margin: var(--author--internal-spacing) 0;
	max-width: 40rem;
}
