body * {
	transition-property: none;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}

p {
	margin-bottom: 1em;
}

p:last-child {
	margin-bottom: 0;
}
