/*
Boxes

Library for consistent floating boxes with a drop shadow.

```html
<div class="box">
	<h1 class="box__title">Optional title</h1>
	…
</div>
```

This styling is also used in other places, such as the `boxed` variants of archive items. A future
improvement would be to use SCSS mixins so this styling could be applied directly.
*/
@use "shared";

.box {
	--box--external-spacing: 0;
	--box--internal-spacing: 1rem;

	padding: var(--box--internal-spacing);
	background-color: white;
	border: 1px solid lightgray;
	box-shadow: shared.$shadow--3;

	margin: var(--box--external-spacing) auto;

	transition-property: margin, padding;
}

.box--2xs-ceiling {
	max-width: shared.$screen-2xs-ceiling;
}

.box--sm {
	max-width: shared.$screen-sm-floor;
}

.box--md {
	max-width: shared.$screen-md-floor;
}

.box--lg {
	max-width: shared.$screen-lg-floor;
}

.box--xl {
	max-width: shared.$screen-xl-floor;
}

.box--2xl {
	max-width: shared.$screen-2xl-floor;
}

.box__title {
	margin-bottom: var(--box--internal-spacing);

	transition-property: margin, font-size;
}

/*
Miniform boxes are tweaked for small, standlone forms such as log in or forgot password.
*/

.box--miniform {
	--box--external-spacing: 1rem;
	--box--internal-spacing: 1rem;

	text-align: center;
}

@media screen and (min-width: shared.$screen-md-floor) {
	.box--miniform {
		--box--external-spacing: 2rem;
		--box--internal-spacing: 2rem;
	}
}

/*
Messaging boxes are when you want a simple page with just a simple, stand-out message.
Example: a 404 page.
*/

.box--message {
	--box--external-spacing: 1rem;
	--box--internal-spacing: 1rem;
}

@media screen and (min-width: shared.$screen-lg-floor) {
	.box--message {
		--box--external-spacing: 4rem;
		--box--internal-spacing: 2rem;
	}
}
