/*
Buttons

Library for common button and button-like styling. Can be used with either `<button>` or `<a>`
elements, but the examples will just use `<button>`.

```html
<button class="btn">
	…
</button>
```
*/

:root {
	--btn--font-family: var(--font-family--sans-serif);
	--btn--font-weight: var(--font-weight--semibold);
	--btn--font-size: calc(var(--font-size--base) * 0.833);
	--btn--line-height: 1.2;
	--btn--letter-spacing: 0.0625em;

	--btn--padding--vertical: 0.5em;
	--btn--padding--horizontal: 0.75em;
}

.btn,
.btn:visited,
/* The following overrides necessary because of Tailwind reset rules. */
.btn[type="button"],
.btn[type="reset"],
.btn[type="submit"] {
	/* Declare the colors here so that the hover states can follow the static states by default. */
	--btn--color: black;
	--btn--background-color: transparent;
	--btn--border-color: black;
	--btn--color--hover: var(--btn--color);
	--btn--background-color--hover: var(--btn--background-color);
	--btn--border-color--hover: var(--btn--border-color);

	cursor: pointer;
	padding: var(--btn--padding--vertical) var(--btn--padding--horizontal);
	font-family: var(--btn--font-family);
	font-weight: var(--btn--font-weight);
	line-height: var(--btn--line-height);
	letter-spacing: var(--btn--letter-spacing);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 1px;
	border-style: solid;
	transition-property: background-color, color, border-color;

	color: var(--btn--color);
	background-color: var(--btn--background-color);
	border-color: var(--btn--border-color);
}

.btn:hover {
	color: var(--btn--color--hover);
	background-color: var(--btn--background-color--hover);
	border-color: var(--btn--border-color--hover);
}

/* Compound selector is currently necessary to override some Tailwind styling. */
.btn.btn--reversed {
	--btn--color: white;
	--btn--background-color: var(--color--dark);
	--btn--border-color: var(--color--dark);
}

.btn.btn--submit {
	--btn--color: var(--color--mood--success--contrast);
	--btn--background-color: var(--color--mood--success);
	--btn--border-color: var(--color--mood--success);
	--btn--color--hover: var(--color--mood--success--contrast);
	--btn--background-color--hover: var(--color--mood--success--hover);
	--btn--border-color--hover: var(--color--mood--success--hover);
}

.btn.btn--danger {
	--btn--color: var(--color--mood--error--contrast);
	--btn--background-color: var(--color--mood--error);
	--btn--border-color: var(--color--mood--error);
	--btn--background-color--hover: var(--color--mood--error--hover);
	--btn--border-color--hover: var(--color--mood--error--hover);
}

.btn.btn--naked {
	--btn--border-color: transparent;
}

.btn.btn--naked.btn--danger {
	--btn--color: var(--color--mood--error);
	--btn--background-color: transparent;
	--btn--border-color: transparent;
	--btn--color--hover: var(--color--mood--error);
	--btn--background-color--hover: transparent;
	--btn--border-color--hover: transparent;
}

