/*
Buttons

Library for common button and button-like styling. Can be used with either `<button>` or `<a>`
elements, but the examples will just use `<button>`.

TODO: This is obviously very minimal at the moment. Will add more styles, variations, etc.

```html
<button class="btn">
	…
</button>
```
*/

.btn {
	padding: 0.5em 0.75em;
	font-weight: var(--font-weight-semibold);
	text-decoration: none;
	text-align: center;
	cursor: pointer;

	border: 1px solid lightgray;
	box-shadow: var(--shadow--2);
	color: inherit;

	transition-property: background-color, box-shadow, color;
}

.btn:hover {
	box-shadow: var(--shadow--1--dark);
}

/* Compound selector is currently necessary to override some Tailwind styling. */
.btn.btn--submit {
	border: none;
	color: var(--color--mood--success--contrast);
	background-color: var(--color--mood--success);
}
.btn.btn--submit:hover,
.btn.btn--submit:focus {
	background-color: var(--color--mood--success--hover);
}

/* Compound selector is currently necessary to override some Tailwind styling. */
.btn.btn--primary {
	border: none;
	color: var(--color--blue-1);
	background-color: var(--color--blue-9);
}
.btn.btn--primary:hover,
.btn.btn--primary:focus {
	background-color: var(--color--blue-6);;
}

.btn.btn--link {
	text-decoration: underline;
}

.btn.btn--link:hover,
.btn.btn--link:focus {
	text-decoration: none;
}
