@use "shared";

// Site themes

:root {
	--color--site-theme: white;
	--color--site-theme--contrast: #{shared.$color--dark};

	--color--site-theme--ornament: #{shared.$color--brand--fact-check-insights};
	--color--site-theme--ornament--contrast: #{shared.$color--dark};
}

body {
	background-color: var(--color--site-theme);
	color: var(--color--site-theme--contrast);
}

	.site--fact_check_insights {
	--color--site-theme: #{shared.$color--brand--fact-check-insights};
	--color--site-theme--ornament: #{shared.$color--brand--fact-check-insights};
}

.site--media_vault {
	--color--site-theme--ornament: #{shared.$color--brand--media-vault};
}

// Brand colors

.bg--fact-check-insights {
	background-color: shared.$color--brand--fact-check-insights;
}

.bg--media-vault {
	background-color: shared.$color--brand--media-vault;
}

.bg--media-review {
	background-color: shared.$color--brand--media-review;
}

.bg--claim-review {
	background-color: shared.$color--brand--claim-review;
}

// Generic colors

.bg--white {
	background-color: white;
}

.bg--tan {
	background-color: shared.$color--tan-8;
}

.bg--dark {
	background-color: shared.$color--dark;
}

.bg--blue {
	background-color: shared.$color--dark;
}
