@use "shared";

.contain {
	--contain--max-width: 1400px;
	--contain--gap: max(1rem, 5vw);

	width: 100%;
	display: grid;
	grid-template-columns:
		1fr
		min(var(--contain--max-width), calc(100% - var(--contain--gap) * 2))
		1fr;
	grid-column-gap: var(--contain--gap);

	> * {
		grid-column: 2;

		&.full-bleed {
			width: 100%;
			grid-column: 1 / -1;
		}

		@media screen and (min-width: shared.$screen-lg-ceiling) {
			&.lg\:full-bleed {
				width: 100%;
				grid-column: 1 / -1;
			}
		}
	}
}
