/*
Forms

Library for consistent form layout.

```html
<form class="form form--vertical">
	…
</form>
```
*/

.form {
	--form--spacing: 1rem;
	--form--fieldset-gap: 2rem;

	margin-top: var(--form--spacing);
	margin-bottom: var(--form--spacing);
}

@media screen and (min-width: 641px) {
	.form {
		--form--spacing: 2rem;
	}
}

.form:first-child {
	margin-top: 0;
}

.form:last-child {
	margin-bottom: 0;
}

.form--vertical {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0.5rem;
}

.form__extra-links {
	font-size: 0.9rem;
}

.fieldset {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	gap: var(--form--fieldset-gap);
	transition-property: gap;
}

.fieldset:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 769px) {
	.form {
		--form--fieldset-gap: 5rem;
		--form--fieldset-header-width: 50%;
		--form--fieldset-fields-width: 50%;
	}

	.fieldset {
		flex-direction: row;
	}

	.fieldset__header {
		flex-basis: var(--form--fieldset-header-width);
	}

	.fieldset__fields {
		flex-basis: var(--form--fieldset-fields-width);
	}

	.form__align-with-fields {
		margin-left: calc(var(--form--fieldset-header-width) + var(--form--fieldset-gap) / 2);
	}
}

.fieldset__title {
	font-size: 1.2rem;
	font-weight: var(--font-weight-medium);
	margin-bottom: 1rem;
}

.fieldset__fields {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.field__wrapper--input label {
	display: block;
	font-weight: var(--font-weight-medium);
	margin-bottom: 0.5rem;
}

.field__wrapper--input input,
.field__wrapper--input textarea,
.field__wrapper--input select {
	width: 100%;
}

.field__description {
	font-size: 0.9rem;
	color: gray;
	margin-top: 0.5rem;
}

.checkbox {
	display: flex;
	gap: 0.5rem;
	align-items: start;
}

.checkbox .field_with_errors {
	display: flex;
	align-items: start;
}

.checkbox input {
	margin-top: calc(((1rem * 1.5) - 1rem) / 2);
}

/* Errors */

.field_with_errors label {
	color: var(--color--mood--error);
}

.field__error-messages {
	background-color: var(--color--mood--error);
	color: white;
	font-weight: var(--font-weight-medium);
}

.field__wrapper--input .field__error-messages {
	border-radius: 0 0 5px 5px;
	padding: 0.25rem 0.5rem;
}

.field__wrapper--checkboxes .field__error-messages {
	display: inline-block;
	padding: 0 0.25rem;
}
