/*
Forms

Library for consistent form layout.

```html
<form class="form form--vertical">
	…
</form>
```
*/
@use "shared";

.form {
	--form--spacing: 1rem;
	--form--fieldset-gap: 2rem;

	margin-top: var(--form--spacing);
	margin-bottom: var(--form--spacing);

	@include shared.demargin-edges;
}

@media screen and (min-width: shared.$screen-md-floor) {
	.form {
		--form--spacing: 2rem;
	}
}

.form--vertical {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0.5rem;
}

// This is for a single input plus submit button.
.form--oner {
	display: flex;

	> * {
		width: auto;
	}

	.form--oner__field {
		flex: 3 1 auto;
	}

	.form--oner__btn {
		flex: 1 3 auto;
		width: auto;
	}
}

.form__extra-links {
	font-size: 0.9rem;
}

.fieldset {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	gap: var(--form--fieldset-gap);
	transition-property: gap;
}

.fieldset:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: shared.$screen-lg-floor) {
	.form {
		--form--fieldset-gap: 5rem;
		--form--fieldset-header-width: 50%;
		--form--fieldset-fields-width: 50%;
	}

	.fieldset {
		flex-direction: row;
	}

	.fieldset__header {
		flex-basis: var(--form--fieldset-header-width);
	}

	.fieldset__fields {
		flex-basis: var(--form--fieldset-fields-width);
	}

	.form__align-with-fields {
		margin-left: calc(var(--form--fieldset-header-width) + var(--form--fieldset-gap) / 2);
	}
}

.fieldset__title {
	font-size: 1.2rem;
	font-weight: shared.$font-weight--semibold;
	margin-bottom: 1rem;
}

.fieldset__fields {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.field__wrapper--input label {
	display: block;
	margin-bottom: 0.5rem;
	font-family: shared.$font-family--sans-serif;
	font-weight: shared.$font-weight--semibold;
}

.field__wrapper--input input,
.field__wrapper--input textarea,
.field__wrapper--input select {
	width: 100%;
	font-family: shared.$font-family--sans-serif;
}

.field__wrapper--input input::placeholder,
.field__wrapper--input textarea::placeholder,
.field__wrapper--input select::placeholder,
.field__wrapper--input input::-webkit-input-placeholder,
.field__wrapper--input textarea::-webkit-input-placeholder,
.field__wrapper--input select::-webkit-input-placeholder {
	font-family: shared.$font-family--sans-serif;
}

.field__description {
	font-size: 0.9rem;
	color: gray;
	margin-top: 0.5rem;
	font-family: shared.$font-family--sans-serif;
}

.checkbox {
	display: flex;
	gap: 0.5rem;
	align-items: start;
}

.checkbox .field_with_errors {
	display: flex;
	align-items: start;
}

.checkbox label {
	font-family: shared.$font-family--sans-serif;
}

.checkbox input {
	margin-top: calc(((1rem * 1.5) - 1rem) / 2);
}

/* Errors */

.field_with_errors label {
	color: shared.$color--mood--error;
}

.field__error-messages {
	background-color: shared.$color--mood--error;
	color: white;
	font-family: shared.$font-family--sans-serif;
}

.field__wrapper--input .field__error-messages {
	border-radius: 0 0 5px 5px;
	padding: 0.25rem 0.5rem;
}

.field__wrapper--checkboxes .field__error-messages {
	display: inline-block;
	padding: 0 0.25rem;
}
