/*
Icon-Prefixed Elements

Text prefixed with an SVG icon.

```html
<span class="icon-prefixed">
	<svg class="icon icon--lg">…</svg>
	<span>Text label</span>
</span>
```

By default, the icon will have the same height (and width, see NB below) as the text label. This is
often smaller than desired, so you can use the modifiers to make it bigger. Flexbox keeps it all
aligned correctly. Note that you will want to wrap the text label in a `<span>`; this is not
strictly required, but it's a good habit so that your label itself can contain children elements
(e.g., `<time>` or styling tags) without those elements becoming separate flexbox children.

NB: Currently, while you can use an icon of any aspect ratio, it's assumed to be 1 (square). You
will need to override on a per-icon basis when this isn't correct.
*/

.icon-prefixed {
	--icon-size: 1em;
	--icon-lg-size: 1.25em;
	--icon-xl-size: 1.75em;
	--icon-gap: 0.35em;

	display: flex;
	align-items: center;
	gap: var(--icon-gap);
}

.icon-prefixed .icon {
	height: var(--icon-size);
	width: var(--icon-size);
}

.icon-prefixed .icon--lg {
	height: var(--icon-lg-size);
	width: var(--icon-lg-size);
}

.icon-prefixed .icon--xl {
	height: var(--icon-xl-size);
	width: var(--icon-xl-size);
}
