.contain {
	--contain--max-width: var(--screen-xl-floor);
	--contain--gap: 1rem;

	width: 100%;
	display: grid;
	grid-template-columns:
		1fr
		min(var(--contain--max-width), calc(100% - var(--contain--gap) * 2))
		1fr;
	grid-column-gap: var(--contain--gap);
}

.contain > * {
	grid-column: 2;
}

.contain .full-bleed {
	width: 100%;
	grid-column: 1 / -1;
}
