@use "shared";
@use "boxes";
@use "masonry";
@use "typography";

.search-results {
	@extend .masonry;

	margin-bottom: clamp(1rem, 5vw, 5rem);
	&:last-child {
		margin-bottom: 0;
	}
}

.search-results__title {
	@extend .h4;
}

.search-result {
	@extend .box;
	text-decoration: none;
	width: 100%;
	transition-property: transform;
	transition-duration: 100ms;

	&:hover {
		transform: scale(1.03);
	}
}

.search-input-media {
	max-width: shared.$screen-xs-ceiling;
	margin: 0 auto;
}
