@use "shared";

.table {
	--table--border-color: lightgray;
	--table--cell-padding-y: 0.5em;
	--table--cell-padding-x: 0;

	width: 100%;

	font-family: shared.$font-family--sans-serif, sans-serif;
	line-height: 1.2;

	thead {
		tr {
			border-bottom: 1px solid var(--table--border-color);
		}

		th {
			font-weight: shared.$font-weight--semibold;
			vertical-align: bottom;
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid var(--table--border-color);
		}

		th {
			text-align: right;
		}

		th,
		td {
			vertical-align: top;
		}
	}

	th,
	td {
		text-align: left;
		padding: var(--table--cell-padding-y) var(--table--cell-padding-x);
		transition-property: padding;

		.center {
			text-align: center;
		}

		.right {
			text-align: right;
		}
	}

	@media screen and (min-width: shared.$screen-lg-floor) {
		--table--cell-padding-y: 0.5em;
		--table--cell-padding-x: 0.5em;
	}
}

.schema-table {
	.code {
		font-family: monospace;

		$font-size-multiplier: 0.75;
		font-size: calc($font-size-multiplier * shared.$font-size--base);
		line-height: calc(shared.$line-height--base / $font-size-multiplier);
	}

	.na {
		color: gray;

		$font-size-multiplier: 0.9;
		font-size: calc($font-size-multiplier * shared.$font-size--base);
		line-height: calc(shared.$line-height--base / $font-size-multiplier);
	}

	$levels: 1, 2, 3, 4, 5, 6;
	@for $level from 1 through 6 {
		.indent--#{$level} > td:first-child {
			padding-left: #{$level * 4}ch;
		}
	}

	.code {
		.key {
			color: shared.$color--blue-2;
		}
		.value {
			color: shared.$color--red-1;
		}
	}
}
