:root {
	/*
	Font Sizes
	*/
	--font-size--base: 16px;
	--line-height--base: 1.5;
	--line-height: 1.5;

	/*
	Font Families
	*/
	--font-family--serif: "Source Serif Pro", serif;
	--font-family--sans-serif: "Source Sans Pro", sans-serif;

	/*
	Font Weights

	Weight values based on OpenType weight classes:
	https://docs.microsoft.com/en-us/typography/opentype/spec/os2#usweightclass

	Note that we only use a subset of these values.
	*/
	--font-weight--thin: 100;       /* AVOID (accessibility) */
	--font-weight--extralight: 200; /* AVOID (accessibility) */
	--font-weight--light: 300;
	--font-weight--normal: 400;
	--font-weight--medium: 500;     /* AVOID for custom fonts (file size) */
	--font-weight--semibold: 600;
	--font-weight--bold: 700;
	--font-weight--extrabold: 800;  /* AVOID for custom fonts (file size) */
	--font-weight--black: 900;      /* AVOID for custom fonts (file size) */
	--font-weight--extrablack: 950; /* AVOID for custom fonts (file size) */

	/*
	Navigation
	*/
	--nav--font-family: var(--font-family--sans-serif);
	--nav--font-size: var(--font-size--base);
	--nav--line-height: 1.25;
}

html,
body {
	font-family: var(--font-family--serif);
	font-weight: var(--font-weight--normal);
	font-size: var(--font-size--base);
	line-height: var(--line-height--base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family--serif);
	font-weight: var(--font-weight--semibold);
	line-height: 1.25;
}

h1 {
	font-size: calc(var(--font-size--base) * 3.5);
}

h2 {
	font-size: calc(var(--font-size--base) * 2.5);
}

h3 {
	font-size: calc(var(--font-size--base) * 2);
}

h4 {
	font-size: calc(var(--font-size--base) * 1.667);
}

h5 {
	font-size: var(--font-size--base);
}

h6 {
	font-family: var(--font-family--sans-serif);
	font-size: calc(var(--font-size--base) * 0.833);
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.color--success {
	color: var(--color--mood--success);
}

.color--danger {
	color: var(--color--mood--error);
}
