<% @title_tag = "Privacy Policy" %>

<div class="content content--md">
  <h1>Fact-Check Insights and MediaVault Privacy Policy</h1>

  <p>
    <i>Effective: November 2022</i>
  </p>

  <p>
    Fact-Check Insights and MediaVault are free services provided by the Duke Reporters’ Lab. Personally identifiable information – including name, email address, and organization – is only collected for the purposes of user registration and account management and the Duke Reporters’ Lab does not retain any other information nor do sell or otherwise share any of this data with third parties.
  </p>

  <p>
    Our services do contain links to websites run by other organizations. We have no control over nor responsibility for any data collected by those third-party sites. Users are advised to review the privacy policies of each third-party organization.
  </p>

  <p>
    Anyone may request the removal of their data from the service by sending an email to the service’s admins at <a href="mailto:hello@factcheckinsights.org">hello@factcheckinsights.org</a> with a link to the content and a description of the reason for the removal. The service’s admins reserve the right to deny any takedown request for any reason.
  </p>

  <p>
    We reserve the right to amend this privacy statement at any time for any reason. We will let you know of any changes by sending a notification in the app and by posting them here. We encourage you to periodically return to review the privacy policy.
  </p>

  <p>
    If you have any questions please contact us at <a href="mailto:hello@factcheckinsights.org">hello@factcheckinsights.org</a>.
  </p>
</div>

