<% @title_tag = "Terms and Conditions" %>

<div class="content content--md">
	<h1>Terms of Service</h1>

	<p>
		<i>Last updated: November 16, 2022</i>
	</p>

	<p>
		<hr>
	</p>

	<p>
		Please read these Terms of Service ("Terms", "Terms of Service") carefully before using Fact-Check Insights and MediaVault (Services), which are provided by the Duke Reporters’ Lab ("us", "we", or "our").
	</p>

	<p>
		Your access to and use of the Services is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Services.
	</p>

	<p>
		By accessing or using the Services you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the Services.
	</p>
	<p>
		<b>By accessing or using the Services you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the Services.</b>
	</p>

	<h3>
		Termination
	</h3>

	<p>
		We may terminate or suspend access to our Services immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
	</p>

	<p>
		All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
	</p>

	<h3>
		Payment
	</h3>
	<p>
		There is no cost for use of these Services. The Duke Reporters’ Lab will provide our Services free of charge to selected researchers and organizations that perform fact-checking journalism or related research which may be determined at the discretion of the service’s admin.
	</p>

	<h3>
		Content
	</h3>
	<p>
		Our Services allow you to (1) download a dataset of structured data about fact-checks, called ClaimReview and MediaReview, and (2) archive specific pieces of fact-checked media and browse and search the archive.
	</p>

	<p>
		Our Services rely on publicly available ClaimReview and MediaReview created by fact-checkers around the world. You may opt out of inclusion in our datasets at any time by submitting a written request to us.
	</p>

	<p>
		Any media uploaded by any user may be retained to help with our misinformation research. You may not upload any non-public personally identifiable information or anything that would void the laws of the country, state, city, region or municipality in which you reside.
	</p>

	<p>
		Access to our Services is granted through the sole discretion of the Reporters’ Lab and may be revoked at any time without prior notice or liability, for any reason whatsoever.
	</p>

	<p>
		Redistribution of the provided data is forbidden except when redistribution is authorized in writing by the Reporters’ Lab. When sharing data or other materials in the approved way, you must include all accompanying files with the data, including these Terms of Service.
	</p>

	<p>
		You may not hotlink directly to any files included in our Services, nor may you scrape the contents of our Services. You are prohibited from building any products that rely on the Reporters’ Lab services and products. If you are interested in building products using our data, please contact the Reporters’ Lab so we can work with you to do it most efficiently.
	</p>

	<h3>
		Obligation to Quote 0
	</h3>

	<p>
		You agree to reference the Reporters’ Lab and its Services in any publication (books, articles, conference papers, theses, dissertations, working papers and other publications) that employs the provided resource. You further agree to send published work that employs the provided resource to the Reporters’ Lab unless other commitments forbid you to do so.
	</p>

	<h3>
		Warranties
	</h3>

	<p>
		We warrant that we are the owner of the Fact-Check Insights and MediaVault platforms and each and every component thereof or the recipient of a valid license thereto, and that we have and will maintain the full power and authority to grant the intellectual property and other rights granted in this Term of Service without the further consent of any third party. Our Service may contain links to third-party web sites or services that are not owned or controlled by the Reporters’ Lab, as well as embedded media files gathered from third-party web sites and services. The collection of such files is licensed under the doctrine of fair use. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Reporters’ Lab shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
	</p>

	<h3>
		Disclaimers
	</h3>

	<p>
		Your access to and use of the Services or any content are at your own risk. You understand and agree that the Services are provided to you on an “AS IS” and “AS AVAILABLE” basis. Without limiting the foregoing, to the maximum extent permitted under applicable law, we DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. We make no warranty or representation and disclaim all responsibility and liability for: (i) the completeness, accuracy, availability, timeliness, security or reliability of the Services or any content; (ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services or any content; (iii) the deletion of, or the failure to store or to transmit, any content and other communications maintained by the Services; and (iv) whether the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from us, will create any warranty or representation not expressly made herein.
	</p>

	<h3>
		Limitation of Liability
	</h3>

	<p>
		TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL THE AGGREGATE LIABILITY FOR US EXCEED ONE HUNDRED U.S. DOLLARS (U.S. $100.00) S FOR THE SERVICES GIVING RISE TO THE CLAIM. THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE USERS OF THE FACT-CHECK INSIGHTS OR MEDIAVAULT PLATFORMS HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
	</p>

	<h3>
		General
	</h3>

	<p>
		We reserve the right, at our sole discretion, to modify or replace these Terms at any time. The changes will not be retroactive, and the most current version of the Terms, which will always be at http://www.factcheckinsights.org/terms, will govern our relationship with you. We will try to notify you of material revisions. What constitutes a material change will be determined at our sole discretion. By continuing to access or use the Services after those revisions become effective, you agree to be bound by the revised Terms.
	</p>

	<p>
		The laws of the State of North Carolina, excluding its choice of law provisions, will govern these Terms and any dispute that arises between you and us. All disputes related to these Terms or the Services will be brought solely in the federal or state courts located in Durham County, North Carolina, United States, and you consent to personal jurisdiction and waive any objection as to inconvenient forum.
	</p>

	<p>
		In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect. Our failure to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision.
	</p>

	<h3>
		Contact Us
	</h3>

	<p>
		These Terms are an agreement between you and the Duke Reporters’ Lab. If you have any questions about these Terms, please contact us at <a href="mailto:hello@factcheckinsights.org">hello@factcheckinsights.org</a>.
	</p>
</div>
