<%= turbo_frame_tag "modal" %>

<div class="py-10 px-5">
  <h2 class="text-2xl">Most Recent Archived Media</h2>
  <%= render partial: "tweets_list", locals: { archive_items: @archive_items } %>
</div>
