<!--<div class="flex flex-col md:flex-row md:h-48 p-6 mb-5 border-b-2">-->
<!--  <div class="flex-none h-96 mb-5 md:mb-0 md:h-auto md:w-32 overflow-hidden rounded">-->
<!--    <a href="#"><img src="<%#= search.image.url %>" /></a>-->
<!--  </div>-->
<div class="bg-white py-4 font-display border border-gray-100 rounded">
  <div class="text-xl font-bold self-end ml-8">
   User search results matching "<%=@search_term%>"
  </div>
<!--</div>-->

<div class="flex overflow-hidden">
  <% @user_search_hits.each do |result| %>
    <%= render partial: "search_result_#{result.user_type}", locals: { result: result } %>
  <% end %>
</div>

<hr class="border-2 border-black">
<div class="text-xl font-bold self-end ml-8 pt-6">
  Media search results matching "<%=@search_term%>"
</div>

<% @post_search_hits.each do |result| %>
  <%= render partial: "search_result_#{result.post_type}", locals: { result: result } %>
  <%# break %>
<% end %>
</div>
