<div class="bg-white py-4 font-display border border-gray-100 rounded">
  <div class="flex overflow-hidden">
    <% @user_search_hits.each do |record| %>
      <%= render partial: search_view_for_model_instance(record) , locals: { result: record } %>
    <% end %>
  </div>

  <% @post_search_hits.each do |record| %>
      <%= render partial: search_view_for_model_instance(record) , locals: { result: record } %>
  <% end %>
</div>
