<div class="flex p-4 px-8 border-b bg-green-100 justify-center">
  <div class="flex flex-row w-3/5">
    <div class="flex-none w-32"><%= link_to "Zenodotus", root_path  %></div>
    <div class="mr-8 flex-grow flex flex-row justify-center">
      <div class="flex-shrink mr-6">
        <a href="#">All Collected Media</a>
      </div>
      <div class="flex-shrink mr-6">
        <%= link_to "Image Search", image_search_path, "data-turbo-frame": "_top" %>
      </div>
      <div class="flex-shrink mr-6">
        <%= link_to "Text Search", text_search_path, "data-turbo-frame": "_top" %>
      </div>
    </div>
  </div>
</div>

