<div class="box box--sm box--miniform" data-controller="delete-account">
  <%= render "users/shared/error_messages", resource: current_user %>
	<h3>Delete account</h3>
	<p>
		To delete your account, enter your password below, then accept the corresponding browser alert.
	</p>
	<%= form_with(url: destroy_account_path,
								html: {
									method: :post,
									class: "form form--vertical",
									data: {
										action: "delete-account#confirmDeletion"
									}
								}) do |f| %>

    <div class="field">
      <%= f.password_field(
        :password_for_deletion,
				"data-delete-account-target": "passwordInput",
        autofocus: true,
        autocomplete: "new-password",
        placeholder: "Password",
        class: "input input--email") %>
    </div>

    <div class="actions">
      <%= f.submit "Delete my account", class: "btn btn--submit" %>
    </div>
  <% end %>
</div>

