<div class="alert alert--error" role="alert">
  <div class="alert__message flex flex-col">
    <div class="font-bold text-lg">
      <%= t("2fa.error.error") %>:
    </div>
    <div>
    	<%= t("2fa.error.there_was_an_error_saving_two_factor_token") %>
    </div>
    <div>
      <br><%= t("2fa.error.if_this_continues_to_not_work") %>
    </div>

    <% if defined?(error) && !error.nil? %>
    <br><hr><br>
    <div class="font-bold text-lg">
      Error Message:
    </div>
    <div>
      <%= error %>
    </div>
    <% end %>
  </div>
</div>
