<div class="flex flex-col lg:basis-2/4 justify-center mb-8">
  <div class="lg:basis-2/4 b2">
    <h3><%= t("2fa.account_recovery_codes") %></h3>
    <p>
    	<%= t("2fa.these_codes_can_each") %>
    </p>
  </div>
</div>

<div class="flex flex-col lg:basis-2/4 items-center mb-8">
  <% recovery_codes.each do |code| %>
  <div class="h-8 setup_mfa--recovery_code">
    <%= code %>
  </div>
  <% end %>
</div>

<div class="flex flex-col lg:basis-2/4 justify-center">
  <div class="flex justify-center">
    <button data-action="click->webauthn#finishSetup" class="btn btn--lg"><%= t("2fa.complete_setup") %></button>
  </div>
</div>
