<div class="flex flex-col lg:basis-2/4 justify-center mb-8">
  <div class="lg:basis-2/4 b2">
    <h3>TOTP Setup</h3>
    <p>
      If you are using a browser that does not support Webauthn (mostly just Firefox) you can choose to use an authenticator app to generate a 2 factor authentication code for you instead. ***FILLER TEXT FOR DESCRIBING THE APPS***
    </p>
  </div>
</div>

<div class="flex flex-col lg:basis-2/4 items-center mb-8">
  <img src="data:img/png;base64,<%= totp_qr_png %>" class="h-44 object-contain">
</div>

<div class="flex flex-col lg:basis-1/2 items-center mt-8">
  <div class="basis-1/2">
    <input type="text" data-webauthn-target="totpSetupCode">
  </div>
  <div class="basis-1/2 mt-4">
    <button data-action="click->webauthn#finishTotpSetup" class="btn btn--lg">Finish TOTP Setup</button>
  </div>
</div>
