<div class="alert alert--error" role="alert">
  <div class="alert__message flex flex-col">
    <div class="font-bold text-lg">
      Error:
    </div>
    <div>
      Invalid recovery code
    </div>
    <div>
      <br>Recovery codes can only be used once. Please contact us if this error continues to happen.
    </div>
  </div>
</div>
