<div class="alert alert--error" role="alert">
  <div class="alert__message flex flex-col">
    <div class="font-bold text-lg">
      <%= t('2fa.error.error') %>:
    </div>
    <div>
    	<%= t('2fa.error.invalid_recovery_code') %>:
    </div>
    <div>
      <br><%= t('2fa.error.invalid_recovery_code_message') %>:
    </div>
  </div>
</div>
