<% @title_tag = "Reset password" %>

<div class="box box--sm box--miniform">
	<p>
		To reset your Zenodotus password, please enter your email below. Here by mistake?
		<%= link_to "Log in", "/users/sign_in" %>.
	</p>
	<%= form_with(
				url: reset_password_path,
				html: {
					class: "form form--vertical",
					data: { turbo: false }
				}) do |f| %>
		<%= f.email_field(
					:email,
					autofocus: true,
					autocomplete: "email",
					placeholder: "Email address",
					class: "input input--email") %>
		<%= f.submit(
					"Reset",
					class: "btn btn--submit") %>
	<% end %>
</div>

