<table>
  <tr>
    <th>Searched at</th>
    <th>Search query</th>
  <tr>
  <% @text_searches.each do |text_search| %>
    <tr>
      <td><%= text_search.created_at %></td>
      <td><%= text_search.query %></td>
    </tr>
  <% end %>
</table>
<%== pagy_nav(@pagy) %>

