<div data-controller="webauthn" data-webauthn-input-value="<%= { publicKey: @options }.to_json %>">
  <div>For security purposes we require, in addition to a password, all accounts to use two-factor authentication.</div>

  <div>Filler for OTP app authentication option</div>
  <div data-webauthn-target="output">Here's the stuff for webauthn</div>
</div>
